<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
<appSettings>
  <add key="rainLog:BaseUrl" value="https://rainlog.org/api/1.0"/>
  <add key="rainLog:DailyUrl" value="/Reading"/>
  <add key="rainLog:MonthlyUrl" value="/MonthReading"/>
  <add key="rainLog:Operation" value="/getFiltered"/>
</appSettings>
</configuration>
